.team-social-list-link, .social-list a, .navmain, .top-nav, .top-nav-contacts a, .our-clients-list a, .subscribe-button, .btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-list, .what-we-do-list, .our-team-list, .team-social-list, .our-clients-list, .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-nav-links a, .top-nav-contacts a {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-social-list-link, .social-list a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-link:hover, .social-list a:hover, .team-social-list-link:focus, .social-list a:focus {
  background: #2196f3;
  color: #ffffff;
}

.hero, #accept:checked + .custom-checkbox {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.features-list h3, .what-we-do-list .label, .follow {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #212121;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
  margin: 0px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.btn-primary, .hero button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  border: none;
  height: 50px;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.logo.toplogo {
  margin-right: 93px;
}

.logo-black {
  color: #212121;
}

.logo-white {
  color: #ffffff;
}

header {
  border: 1px solid #ececec;
}

.top-nav {
  padding-top: 24px;
  padding-bottom: 25px;
}

.state-color {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.state-color:hover, .state-color:focus {
  color: #2196f3;
}

.current::after {
  content: "";
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.top-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-nav-links a {
  color: #212121;
  position: relative;
}

.top-nav-links li:not(:last-child) {
  margin-right: 50px;
}

.top-nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.top-nav-contacts a {
  color: #757575;
}

.top-nav-contacts .svg-icon {
  fill: currentColor;
  margin-right: 10px;
}

.top-nav-contacts li + li {
  margin-left: 30px;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero {
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/heroopt.jpg), #2f303a;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroopt.jpg), #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: cover;
}

.hero button {
  display: block;
  margin: auto;
  margin-top: 30px;
}

.features {
  padding-bottom: 47px;
  padding-top: 94px;
}

.features-list li {
  width: 270px;
}

.features-list h3 {
  text-transform: uppercase;
}

.features-list p {
  line-height: 24px;
  color: #757575;
  margin-top: 10px;
}

.features-icons {
  display: block;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  height: 120px;
  padding: 25px 100px 25px 100px;
  margin-bottom: 30px;
}

.what-we-do {
  padding-bottom: 94px;
  padding-top: 47px;
}

.what-we-do-list {
  margin-top: 50px;
}

.what-we-do-list li {
  position: relative;
}

.what-we-do-list .label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
}

.our-team {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.our-team-list {
  margin-top: 50px;
}

.our-team-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 30px;
}

.our-team-list p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #757575;
  margin-top: 10px;
}

.our-team-list > li {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team-social-list {
  margin: 16px 32px 0px 32px;
}

.team-social-list-link {
  color: #afb1b8;
}

team-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-list-item .svg-icon-footer {
  fill: currentColor;
}

.our-clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.our-clients-list {
  margin-top: 50px;
}

.our-clients-list a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-list a:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.our-clients-list li .svg-icon-logos {
  fill: currentColor;
}

.footer-contacts {
  margin-top: 9px;
}

.footer-address {
  margin-top: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 20px;
}

footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts-link {
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-wrap,
.footer-social-wrap {
  display: inline-block;
}

.footer-contacts-wrap {
  margin-right: 70px;
  width: 231px;
}

.footer-social-wrap {
  vertical-align: top;
  margin-right: 93px;
}

.follow {
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 12px;
}

.social-list {
  margin-top: 20px;
}

.social-list a {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list li:not(:last-child) {
  margin-right: 10px;
}

.social-list li .svg-icon-footer {
  fill: currentColor;
}

.footer-form-wrap {
  display: inline-block;
  vertical-align: top;
  width: 570px;
}

.footer-form {
  margin-top: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer-form input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  width: 358px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
  height: 50px;
  padding-left: 16px;
}

.svg-subscribe {
  vertical-align: middle;
}

.footer-label {
  position: relative;
}

.footer-label-name {
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.subscribe-button {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  width: 528px;
  height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px 39px 40px 41px;
  -webkit-transition: -webkit-transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 39px 40px 41px;
}

.btn-close {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 0;
  margin-top: 8px;
  margin-right: 8px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
  color: #2196f3;
}

.btn-close svg {
  fill: currentColor;
}

.form-input {
  display: block;
  margin-bottom: 10px;
}

.form-input label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  display: inline-block;
}

.form-input input {
  width: 100%;
  padding: 11px 30px 11px 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-svg {
  position: relative;
  margin-top: 4px;
}

.svg-modal {
  position: absolute;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  top: 50%;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#comment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px 12px 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form h2 {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 12px;
}

.form-button {
  width: 200px;
  margin: auto;
}

.form-checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-input:focus-within input,
.form-input:focus-within #comment {
  border: 1px solid #2196f3;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-input:focus-within input + svg {
  fill: #2196f3;
}

#accept {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

#accept:checked + .custom-checkbox {
  background-image: url(../images/check.svg);
  background-color: #2196f3;
  border: #2196f3;
  background-origin: border-box;
}

.custom-checkbox {
  background: #ffffff;
  border-radius: 4px;
  width: 16px;
  height: 15px;
  display: inline-block;
  margin-right: 7px;
  margin-left: 13px;
  border: 2px solid #212121;
  vertical-align: text-bottom;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.accept-terms {
  color: #2196f3;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */