.social-list a, .navmain, .top-nav, .top-nav-contacts a, .subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-list, .portfolio-cards, .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-nav-links a, .top-nav-contacts a {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.social-list a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list a:hover, .social-list a:focus {
  background: #2196f3;
  color: #ffffff;
}

.follow {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #212121;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
  margin: 0px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.btn-primary {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  border: none;
  height: 50px;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.logo.toplogo {
  margin-right: 93px;
}

.logo-black {
  color: #212121;
}

.logo-white {
  color: #ffffff;
}

header {
  border: 1px solid #ececec;
}

.top-nav {
  padding-top: 24px;
  padding-bottom: 25px;
}

.state-color {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.state-color:hover, .state-color:focus {
  color: #2196f3;
}

.current::after {
  content: "";
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.top-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-nav-links a {
  color: #212121;
  position: relative;
}

.top-nav-links li:not(:last-child) {
  margin-right: 50px;
}

.top-nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.top-nav-contacts a {
  color: #757575;
}

.top-nav-contacts .svg-icon {
  fill: currentColor;
  margin-right: 10px;
}

.top-nav-contacts li + li {
  margin-left: 30px;
}

.portfolio-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-filters {
  padding-top: 94px;
  padding-bottom: 25px;
}

.portfolio-list li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list a:hover, .portfolio-list a:focus {
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.portfolio-cards h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
  padding-left: 24px;
}

.portfolio-cards .category {
  font-size: 16px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 20px;
  margin-top: 4px;
  padding-left: 24px;
}

.portfolio-cards {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-gallery {
  padding-top: 25px;
  padding-bottom: 94px;
}

.portfolio-cards li {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  position: relative;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards li:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-cards li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.text-over {
  color: #ffffff;
  padding: 63px 24px 63px 24px;
  font-size: 18px;
  line-height: 28px;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.overlay {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards li:hover .overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.footer-contacts {
  margin-top: 9px;
}

.footer-address {
  margin-top: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 20px;
}

footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts-link {
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-wrap,
.footer-social-wrap {
  display: inline-block;
}

.footer-contacts-wrap {
  margin-right: 70px;
  width: 231px;
}

.footer-social-wrap {
  vertical-align: top;
  margin-right: 93px;
}

.follow {
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 12px;
}

.social-list {
  margin-top: 20px;
}

.social-list a {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list li:not(:last-child) {
  margin-right: 10px;
}

.social-list li .svg-icon-footer {
  fill: currentColor;
}

.footer-form-wrap {
  display: inline-block;
  vertical-align: top;
  width: 570px;
}

.footer-form {
  margin-top: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer-form input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  width: 358px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
  height: 50px;
  padding-left: 16px;
}

.svg-subscribe {
  vertical-align: middle;
}

.footer-label {
  position: relative;
}

.footer-label-name {
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.subscribe-button {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=portfolio.css.map */