header {
  border-bottom: 1px solid getColor("header-line");

  @media screen and (min-width: $tablet) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.navmain {
  position: relative;
}

.mobile-nav {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    background: getColor("white");
    left: 0px;
    width: 100%;
    max-width: 480px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .mobile-nav.is-open {
    display: block;
    z-index: 100;
    border-top: 1px solid getColor("header-line");
  }
}

.top-nav {
  @media screen and (max-width: 767px) {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.btn-nav-menu {
  @include transitioned(color);
  @media screen and (max-width: 767px) {
    margin-left: auto;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    background: transparent;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.btn-nav-menu svg {
  fill: currentColor;
}
.btn-nav-menu:hover {
  color: getColor("accent");
}

@media screen and (max-width: 767px) {
  .btn-nav-menu .menu-close {
    display: none;
  }

  .btn-nav-menu.is-open .menu-close {
    display: block;
  }

  .btn-nav-menu.is-open .menu {
    display: none;
  }
}

.state-color {
  @include transitioned(color);
  &:hover,
  &:focus {
    color: getColor("accent");
  }
}
.current::after {
  content: "";
  height: 4px;
  background: getColor("accent");
  border-radius: 2px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.top-nav-links {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.top-nav-links a {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: getColor("text-primary");
  position: relative;
  @media screen and (max-width: 767px) {
    padding: 12px;
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 18px;
    line-height: 21px;
  }
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.top-nav-links li:not(:last-child) {
  @media screen and (min-width: $tablet) {
    margin-right: 50px;
  }
}

.top-nav-contacts {
  .svg-icon {
    fill: currentColor;
    margin-right: 8px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 32px;
  }
  @media screen and (min-width: $tablet) {
    margin-left: auto;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}
.svg-icon.icon-mail {
  @media screen and (min-width: $tablet) {
    width: 14px;
    height: 10px;
  }
  @media screen and (min-width: $desktop) {
    width: 16px;
    height: 12px;
  }
}

.svg-icon.icon-mob {
  @media screen and (min-width: $tablet) {
    width: 10px;
    height: 14px;
  }
  @media screen and (min-width: $desktop) {
    width: 10px;
    height: 16px;
  }
}

.top-nav-contacts {
  a {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: getColor("text-secondary");
    display: inline-block;
    @media screen and (max-width: 767px) {
      padding: 8px;
      font-size: 18px;
      line-height: 21px;
    }
    @media screen and (min-width: $tablet) {
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
    }
  }
  li:not(:last-child) {
    @media screen and (min-width: $tablet) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
      margin-bottom: 0px;
    }
  }
}
