.our-team {
  background: getColor("bg-dark");
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.our-team-list {
  margin-top: 30px;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 50px;
  }

  h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 30px;
  }

  p {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: getColor("text-secondary");
    margin-top: 10px;
  }
}

.our-team-list > li {
  background: getColor("white");
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
  margin-bottom: 30px;

  @media screen and (min-width: $mobile) {
    padding-bottom: 30px;
    width: 450px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: $tablet) {
    width: 354px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
    height: 428px;
    margin-bottom: 0px;
  }
}

.team-social-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.team-social-list-link {
  @extend %icons-social;
  color: getColor("icon-color");
}
.team-social-list-link:not(:last-child) {
  margin-right: 10px;
}
.team-social-list-item .svg-icon-footer {
  fill: currentColor;
}
.our-team-list img {
  @media screen and (max-width: 767px) {
    width: 450px;
  }
  @media screen and (min-width: $tablet) {
    width: 354px;
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}
