h1 {
  text-transform: uppercase;
  color: getColor("white");
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 60px;
  }
}
.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  background: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-image.jpg"), getColor("bg-secondary");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  button {
    display: block;
    margin: auto;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-image2.jpg"), getColor("bg-secondary");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 767px) {
  .hero.is-open {
    display: none;
  }
}
