.features {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.features-list {
  text-align: center;

  h3 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }
  p {
    color: getColor("text-secondary");
    margin-top: 10px;
    text-align: left;
    line-height: 24px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .features-list li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: $tablet) {
  .features-list li {
    width: calc((100% - 2 * 15px) / 2);
    margin-bottom: 30px;
  }
  .features-list li:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: $desktop) {
  .features-list li {
    width: calc((100% - 3 * 30px) / 4);
    text-align: left;
    margin-bottom: 0px;
  }
}

.features-icons {
  background: getColor("bg-dark");
  border-radius: 4px;
  border: none;
  height: 120px;
  margin-bottom: 30px;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
}
